<app-navbar>
  <h2>Les outils GitHub</h2>
  <mat-divider></mat-divider>
  <div>
    Vous pouvez avoir plus de fonctionnalités sur GitHub avec votre adresse mail EPSI.<br>
    <ol>
      <li>Enregistrez-vous : <br>Allez sur la <a href="https://education.github.com/benefits" target="_blank">page d'enregistrement</a> (indiquez bien votre adresse mail @epsi.fr). Sélectionnez <strong>"GitHub Student Developer Pack"</strong></li><br>
      <li>Utilisez GitHub : <br>Lors de l'utilisation de GitHub, vous avez plus de fonctionnalités qu'un utilisateur lambda</li>
    </ol>
  </div>
</app-navbar>
