<app-navbar>
  <h2>Microsoft Office</h2>
  <mat-divider></mat-divider>
  <div>
    Connectez-vous à <a href="https://outlook.office365.com/" target="_blank">votre messagerie</a><br>
  Vous pouvez utiliser la suite Office 365 (Word, Excel, ...) .
  </div>

  <br>

  <h2>Microsoft Azure</h2>
  <mat-divider></mat-divider>
  <div>
    Avec le <a href="https://portal.azure.com/" target="_blank">Portail Azure</a>, vous pouvez utliser certains service Azure et <strong>télécharger les logiciels Microsoft</strong> (Visual Studio 2019, Windows DatabaseServer 2019, ...).
    <ul>
      <li>Connectez-vous au <a href="https://portal.azure.com/" target="_blank">Portail Azure</a></li>
      <li>Dans la barre de recherche entrez "education", la liste des logiciels s'affichera alors.</li>
    </ul>
  </div>
</app-navbar>
