<h2 mat-dialog-title>Modification du mot de passe</h2>

<h3>{{data.nomComplet}}</h3>

<mat-dialog-content class="mat-typography">
  <h4><b>Compte SQL</b></h4>
  <div>
    <form>
      <mat-form-field class="field-full-width">
        <mat-label>Login</mat-label>
        <input matInput disabled value="{{data.loginsql}}">
      </mat-form-field>
    </form>
  </div>

  <br/>
  <h4><b>Serveur sélectionné</b></h4>
  <mat-divider></mat-divider>

  <app-server-selection-list
    [disabled]="true"
    [selectedId]="data.serverSelected.id"
    [list]="[data.serverSelected]"
  ></app-server-selection-list>
  <br/>

  <h4><b>Mot de passe</b></h4>
  <mat-divider></mat-divider>
  <app-password-form (password)="updatePassword($event)"></app-password-form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="undefined">Annuler</button>
  <div fxFlex></div>
  <button mat-raised-button color="primary" [mat-dialog-close]="password"
          [disabled]="!isFormValid()" >
    Valider
  </button>
</div>
