<app-navbar>
  <h2>La suite Intellij</h2>
  <mat-divider></mat-divider>

  <div>
    Vous pouvez avoir tous les logiciels <a href="https://www.jetbrains.com/" target="_blank">JetBrain</a>  (PHPStorm, WebStorm, Intellij, ...) avec votre adresse mail EPSI. Pour cela vous devez faire quelques manipulations:

    <ol>
      <li>Enregistrez-vous : <br>Allez sur la <a href="https://www.jetbrains.com/shop/eform/students" target="_blank">page d'enregistrement</a>  (indiquez bien votre adresse mail @epsi.fr)</li><br>
      <li>Validez le mail de JetBrain : <br>Lorsque vous recevez le mail de JetBrain, validez-le pour pouvoir entrer votre mot de passe.</li><br>
      <li>Attendez la confirmation de JetBrain : <br>Vous devriez maintenant pouvoir utiliser <a href="https://www.jetbrains.com/products.html" target="_blank">tous les logiciels</a> de JetBrain. Votre licence est valide 1 an.</li><br>
      <li>Renouvellement de la licence : <br>Quelques jours avant la date d'expiration de votre licence, vous recevrez un mail de jetBrain vous demandant de la renouveller.</li>
    </ol>
  </div>

</app-navbar>
