<div class="div_password">
  <form [formGroup]="passwordForm">
    <mat-form-field class="field-full-width">
      <input matInput [type]="hide ? 'password' : 'text'"
             placeholder="Mot de passe"
             id='password' formControlName='password'
             (keyup)="updatePassword()"
             [errorStateMatcher]="confirmValidParentMatcher"
      />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input matInput [type]="hide ? 'password' : 'text'" class="form-control" placeholder="Vérification du mot de passe"
             id="confirmPassword" formControlName="confirmPassword"
             (keyup)="updatePassword()"
             [errorStateMatcher]="confirmValidParentMatcher"
      />
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div *ngIf="verify">
      <mat-error *ngIf="errorHandling('password', 'required')">Le mot de passe doit être renseigné</mat-error>
      <mat-error *ngIf="errorHandling('password', 'minlength')">La longueur minimale est 6 caractères</mat-error>
      <mat-error *ngIf="errorValidatorHandling()" >Les mots de passe doivent être identiques</mat-error>
    </div>
  </form>
</div>
