<app-navbar>
  <h2>Le support</h2>
  <mat-divider></mat-divider>
  <p>
    En cas de problème, vous pouvez contacter le support.
  </p>
  <div>
    Les services Ingenium (base de données et espace Web), Suivi PPE et les imprimantes sont gérés par <a href="mailto:admin.reseau@montpellier-epsi.fr" title="Envoyer un email">l'administrateur réseau local.</a>
  <br />
    Tous les autres services (portail de connexion, MyLearningBox, 7Speaking, Beecome, etc.) sont gérés par <a href="mailto:support@reseau-cd.fr" title="Envoyer un email">Compétences et Développement.</a>
  </div>
</app-navbar>
