<h1 mat-dialog-title>Ajout d'un compte</h1>

<mat-dialog-content class="mat-typography">
  <h3>Serveur sélectionné</h3>
  <mat-divider></mat-divider>

  <app-server-selection-list
    [list]="[data.serverSelected]"
    [disabled]="true"
    [selectedId]="data.serverSelected.id"
  ></app-server-selection-list>

  <h3>Mot de passe</h3>
  <mat-divider></mat-divider>
  <app-password-form (password)="updatePassword($event)"></app-password-form>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="undefined">Annuler</button>
  <button mat-raised-button color="primary"
          [disabled]="!isFormValid()"
          [mat-dialog-close]="submit()"
  >Ajouter</button>
</div>
