<h1 mat-dialog-title>Accès au serveur {{data.name}}</h1>

<mat-dialog-content class="mat-typography">
  <div [innerHTML]="getServerDescription()"></div>
  <br />

  <mat-divider></mat-divider>

  <div>
    <p>Pour vous connecter à une base de données, vous devez utiliser les informations suivantes :</p>

    <p><b>Depuis l'extérieur</b></p>
    <ul>
      <li>Identifiant : <i>le login de la base de données</i></li>
      <li>Mot de passe: <i>le mot de passe associé au login de la base de données</i></li>
      <li>Nom d'hôte: <code>{{data.dnsExt}}</code></li>
      <li>Port: <code>{{data.portExt}}</code></li>
      {{getAdditionnalInfo()}}
    </ul>
    <p>Depuis votre espace Web (hébergement EPSI)</p>
    <ul>
      <li>Identifiant : <i>le login de la base de données</i></li>
      <li>Mot de passe: <i>le mot de passe associé au login de la base de données</i></li>
      <li>Nom d'hôte: <code>{{data.dnsLocal}}</code></li>
      <li>Port: <code>{{data.portlocal}}</code></li>
      {{getAdditionnalInfo()}}
    </ul>
  </div>
</mat-dialog-content>

<div mat-dialog-actions>
  <div fxFlex></div>
  <button mat-button [mat-dialog-close]="true">Fermer</button>
</div>
